<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "easymapper.dtd">
<mapper id="courseinfomapper" daoclass="org.suntao.easyorm.testDAO.courseinfoMapper">
	<method name="selectALL">
		<sql>select * from courseinfo</sql>
	</method>
	<method name="selectONE">
		<sql>select * from courseinfo where courseinfoid = ?</sql>
	</method>
</mapper>